*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: calc(0,5px + 1.5vw);
}

.btn-hrissan:hover {
  background-color: #b83a43;
  color: #fcf9f9;
}

.link-form{
  color: #b62f38;
}

.link-form:hover{
  color: #b83a43;
}

#header{
  background-color: rgba(0, 0, 0, 0.5);
}

#main #carousel .carousel-inner img {
  max-height: 90vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fcf9f9;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

.title-style{
  color: #b62f38;
  
}

#nosotros .img-nosotros{
  border-radius: 50px;
}

#footer {
  background-color: black
}

#footer a, p {
  color: #fcf9f9;
}

.no-list-style {
  list-style: none; 
  padding-left: 0; 
}

.logo {
  width: 250px;
}

@media (max-width: 600px) {
  .logo {
      width:150px;
  }
  .overlay .btn{
    display: block;
    display: none;
  }

}

@media (min-width: 600px) {
  .title-size{
    font-size: 40px;
  }
  .form-size{
    font-size: 20px;
  }


}
